inst/doc
.Rhistory
.RData
.Rproj.user
.DS_Store
julyukrelease_tcm77-369384.xls
wu03ew_v2.csv
*.csv
docs/
inst/libs/
inst/pct-slides.html
inst/pct_training_solutions.html
inst/rmd/.gitignore
inst/rmd/libs/
inst/rmd/pct-slides_files/
inst/rmd/refs.bib
refs.bib
*.Rds
libs
*.html
*_files
*.geojson
docs
pctqgis*
